In [1]:
import os
import pandas as pd
from finta import TA

In [2]:
from finrl.finrl_meta.env_cryptocurrency_trading.env_btc_ccxt import BitcoinEnv

In [3]:
data = pd.read_csv('data/raw/FTX/btc_usd_1h.csv', header=None)
data.columns = ['ts', 'open', 'high', 'low', 'close', 'volume']
data = data[['open', 'high', 'low', 'close', 'volume']]

In [4]:
prices = data['close'].tolist()

In [5]:
data.head()

      open     high      low    close      volume
0  11816.5  11880.5  11809.5  11871.5  16774.9952
1  11864.5  11919.0  11855.0  11916.0      0.0000
2  11916.0  11956.5  11827.0  11829.5   1483.4890
3  11829.5  11888.5  11828.5  11866.5      0.0000
4  11866.5  11983.0  11866.5  11927.0   6908.0900

In [8]:
data['rsi'] = TA.RSI(data)

In [13]:
data[['MACD', 'MACD_SIGNAL']] = TA.MACD(data)

In [22]:
data[['BB_UPPER', 'BB_MIDDLE', 'BB_LOWER']] = TA.BBANDS(data, MA=TA.KAMA(data, 20))

In [23]:
data.head(30)

,open,high,low,close,volume,rsi,MACD,MACD_SIGNAL,BB_UPPER,BB_MIDDLE,BB_LOWER
0,11816.5,11880.5,11809.5,11871.5,16774.99520,NaN,0.000000,0.000000,NaN,NaN,NaN
1,11864.5,11919.0,11855.0,11916.0,0.00000,100.000000,0.998397,0.554665,NaN,NaN,NaN
2,11916.0,11956.5,11827.0,11829.5,1483.48900,32.327466,-1.410203,-0.250609,NaN,NaN,NaN
3,11829.5,11888.5,11828.5,11866.5,0.00000,48.409825,-1.135251,-0.550284,NaN,NaN,NaN
4,11866.5,11983.0,11866.5,11927.0,6908.09000,63.629982,1.445488,0.043413,NaN,NaN,NaN
5,11927.0,11930.5,11868.5,11899.5,39031.18000,55.600414,1.793776,0.517859,NaN,NaN,NaN
6,11899.5,11905.5,11758.0,11788.5,125085.95500,35.905142,-3.042248,-0.383109,NaN,NaN,NaN
7,11786.5,11839.5,11770.5,11839.5,0.00000,45.463871,-3.810485,-1.206772,NaN,NaN,NaN
8,11839.5,11839.5,11791.0,11795.5,0.00000,39.930958,-6.467496,-2.422025,NaN,NaN,NaN
9,11795.5,11881.0,11790.0,11840.5,0.00000,47.030896,-5.940294,-3.210322,NaN,NaN,NaN
10,11840.5,11879.5,11794.5,11809.0,0.00000,43.183195,-7.154202,-4.073220,NaN,NaN,NaN
11,11809.0,11850.0,11792.5,11816.5,0.00000,44.350580,-7.534864,-4.816636,NaN,NaN,NaN
12,11816.5,11881.5,11812.5,11841.5,13063.05350,48.173151,-6.305017,-5.131629,NaN,NaN,NaN
13,11841.5,11895.0,11841.5,11887.5,0.00000,54.382285,-2.636587,-4.609664,NaN,NaN,NaN
14,11890.5,11899.0,11847.5,11872.0,0.00000,52.116543,-0.756194,-3.810865,NaN,NaN,NaN
15,11872.0,11875.5,11192.0,11355.5,281095.24570,20.887385,-30.645413,-9.333215,NaN,NaN,NaN
16,11358.5,11419.5,11273.0,11401.0,234137.46060,25.142820,-50.244056,-17.703874,NaN,NaN,NaN
17,11401.0,11448.0,11374.5,11415.5,43633.16230,26.499660,-63.722417,-27.076423,NaN,NaN,NaN
18,11415.5,11417.5,11310.5,11382.0,32586.66790,25.356150,-75.454582,-36.893534,NaN,NaN,NaN
19,11382.0,11400.0,11353.5,11388.5,0.00000,26.023185,-83.162887,-46.255339,NaN,NaN,NaN
20,11388.5,11392.5,11307.5,11337.5,149.78700,24.196167,-91.495915,-55.387685,12149.069070,11698.281116,11247.493163
21,11337.5,11401.0,11256.5,11368.0,196863.84935,27.475470,-94.811399,-63.331040,12128.814151,11664.225493,11199.636835
22,11368.0,11377.0,11309.5,11353.0,172.60360,26.860048,-97.277780,-70.160703,12117.601504,11636.072090,11154.542677
23,11353.0,11354.5,11243.0,11302.0,95255.99810,24.824106,-101.551264,-76.468604,12093.501930,11597.178817,11100.855705
24,11302.0,11366.5,11290.0,11309.5,0.00000,25.715830,-103.159122,-81.826950,12051.074829,11555.456144,11059.837458
25,11309.5,11344.5,11231.5,11296.5,68342.62000,25.158763,-104.114628,-86.297999,12010.890499,11518.599991,11026.309482
26,11296.5,11298.0,11225.0,11288.5,113169.11405,24.802691,-104.209561,-89.888994,11986.890937,11490.559715,10994.228494
27,11288.5,11326.5,11277.5,11278.5,222366.06540,24.338982,-103.784023,-92.673385,11946.802796,11457.191750,10967.580704
28,11278.5,11425.5,11258.0,11372.0,0.00000,36.325859,-95.504972,-93.240580,11924.643301,11449.338025,10974.032749
29,11372.0,11380.0,11331.5,11341.5,0.00000,34.410719,-90.148581,-92.621414,11886.985041,11436.117526,10985.250011